In [237]:
from datetime import datetime as dt
import pandas as pd
import numpy as np
import os

In [253]:
#Read in original csv
aviation_df = pd.read_csv("C:\\Users\\Junior\\Desktop\\Project3\\NotCurrentlyUsed\\AviationData.csv", encoding='ISO 8859-1')
aviation_df.columns
#aviation_df.head()

c:\Users\Junior\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [254]:
#Renamed columns
rename_aviation = aviation_df[{'Event.Date', 'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Name', 'Air.carrier', 'Total.Fatal.Injuries', 'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured', 'Weather.Condition'}]
rename_aviation.rename(columns = {'Event.Date': 'Event_Date', 'Airport.Name':'Airport_Name','Air.carrier':'Air_Carrier','Total.Fatal.Injuries': 'Total_Fatal_Injuries',
 'Total.Serious.Injuries':'Total_Serious_Injuries','Total.Minor.Injuries': 'Total_Minor_Injuries', 'Total.Uninjured':'Total_Uninjured', 'Weather.Condition':'Weather_Condition'}, inplace= True)
#cleaned_aviation
#Reordering columns
cleaned_aviation = rename_aviation[['Air_Carrier', 'Event_Date', 'Country', 'Location', 'Airport_Name','Latitude', 'Longitude', 'Weather_Condition', 'Total_Fatal_Injuries', 'Total_Serious_Injuries', 'Total_Minor_Injuries', 'Total_Uninjured']]
cleaned_aviation

c:\Users\Junior\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Air_Carrier,Event_Date,Country,Location,Airport_Name,Latitude,Longitude,Weather_Condition,Total_Fatal_Injuries,Total_Serious_Injuries,Total_Minor_Injuries,Total_Uninjured
0,NaN,1948-10-24,United States,"MOOSE CREEK, ID",NaN,NaN,NaN,UNK,2.0,0.0,0.0,0.0
1,NaN,1962-07-19,United States,"BRIDGEPORT, CA",NaN,NaN,NaN,UNK,4.0,0.0,0.0,0.0
2,NaN,1974-08-30,United States,"Saltville, VA",NaN,36.922223,-81.878056,IMC,3.0,NaN,NaN,NaN
3,NaN,1977-06-19,United States,"EUREKA, CA",NaN,NaN,NaN,IMC,2.0,0.0,0.0,0.0
4,NaN,1979-08-02,United States,"Canton, OH",NaN,NaN,NaN,VMC,1.0,2.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
88884,NaN,2022-12-26,United States,"Annapolis, MD",NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0
88885,NaN,2022-12-26,United States,"Hampton, NH",NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
88886,NaN,2022-12-26,United States,"Payson, AZ",PAYSON,341525N,1112021W,VMC,0.0,0.0,0.0,1.0
88887,MC CESSNA 210N LLC,2022-12-26,United States,"Morgan, UT",NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
88888,NaN,2022-12-29,United States,"Athens, GA",NaN,NaN,NaN,NaN,0.0,1.0,0.0,1.0

In [256]:
#Date Range and unique locations 2010-2020 for larger dataset
date_df = cleaned_aviation.loc[(cleaned_aviation['Event_Date'] >= '2010-01-01') & (cleaned_aviation['Event_Date'] < '2020-01-01')]
#City and State columns
date_df[['City', 'State']] = date_df['Location'].str.split(',', 1, expand = True)
date_df

c:\Users\Junior\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,Air_Carrier,Event_Date,Country,Location,Airport_Name,Latitude,Longitude,Weather_Condition,Total_Fatal_Injuries,Total_Serious_Injuries,Total_Minor_Injuries,Total_Uninjured,City,State
67589,Costa Spraying Inc,2010-01-01,United States,"Tipton, CA",Visalia Municipal Airport,003648N,1191540W,VMC,0.0,1.0,0.0,0.0,Tipton,CA
67590,FRATTONE CLIFFORD T,2010-01-01,United States,"Doylestown, PA",Doylestown Airport,401959N,0075720W,VMC,0.0,0.0,0.0,2.0,Doylestown,PA
67591,Ram Air Freight Inc.,2010-01-01,United States,"Concord, NC",Concord Regional,352330N,0804230W,IMC,0.0,0.0,0.0,1.0,Concord,NC
67592,"Locair, Inc",2010-01-02,United States,"Somerset, KY",Lake Cumberland Regional,037313N,0843656W,VMC,0.0,0.0,0.0,3.0,Somerset,KY
67593,CANDLEROCK INTERNATIONAL CORP,2010-01-02,United States,"Pearsall, TX",NaN,285153N,0099723W,VMC,0.0,0.0,0.0,3.0,Pearsall,TX
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84340,Lineas Aereas Galan - Aerogalan,2019-12-30,Colombia,"Vereda Cuzama, Colombia",Palonegro Airport,007615N,0731125W,VMC,3.0,0.0,0.0,0.0,Vereda Cuzama,Colombia
84341,NaN,2019-12-31,United States,"Danbury, TX",Salaika Aviation,291438N,0951959W,VMC,0.0,0.0,0.0,2.0,Danbury,TX
84342,Express Flight,2019-12-31,United States,"Onaga, KS",Charles E Grutzmacher Muni,392953N,0961030W,VMC,0.0,0.0,0.0,4.0,Onaga,KS
84343,NaN,2019-12-31,United States,"OLATHE, KS",Johnson County Executive,385046N,0944410W,VMC,2.0,0.0,0.0,0.0,OLATHE,KS
84344,NaN,2019-12-31,United States,"Elk, CA",Little River,039743N,1234257W,VMC,0.0,0.0,0.0,1.0,Elk,CA

In [257]:
#Cleaned DataFrame
dropped_df = date_df.dropna()
dropped_df

,Air_Carrier,Event_Date,Country,Location,Airport_Name,Latitude,Longitude,Weather_Condition,Total_Fatal_Injuries,Total_Serious_Injuries,Total_Minor_Injuries,Total_Uninjured,City,State
67589,Costa Spraying Inc,2010-01-01,United States,"Tipton, CA",Visalia Municipal Airport,003648N,1191540W,VMC,0.0,1.0,0.0,0.0,Tipton,CA
67590,FRATTONE CLIFFORD T,2010-01-01,United States,"Doylestown, PA",Doylestown Airport,401959N,0075720W,VMC,0.0,0.0,0.0,2.0,Doylestown,PA
67591,Ram Air Freight Inc.,2010-01-01,United States,"Concord, NC",Concord Regional,352330N,0804230W,IMC,0.0,0.0,0.0,1.0,Concord,NC
67592,"Locair, Inc",2010-01-02,United States,"Somerset, KY",Lake Cumberland Regional,037313N,0843656W,VMC,0.0,0.0,0.0,3.0,Somerset,KY
67596,Michael K. Fuqua,2010-01-03,United States,"Fallbrook, CA",Fallbrook Community Airpark,332115N,0117153W,VMC,0.0,0.0,0.0,1.0,Fallbrook,CA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84314,AeroGuard Flight Training Center,2019-12-23,United States,"Chandler, AZ",Chandler Municipal Airport,033169N,1114840W,VMC,0.0,0.0,0.0,1.0,Chandler,AZ
84326,Phoenix East Aviation LLC,2019-12-26,United States,"Ormond Beach, FL",Ormond Beach Municipal Airport,029184N,0081650W,VMC,0.0,0.0,0.0,1.0,Ormond Beach,FL
84330,Cheyenne Partners LLC,2019-12-28,United States,"LAFAYETTE, LA",Lafayette Regional Apt,301034N,0092027W,IMC,5.0,0.0,1.0,0.0,LAFAYETTE,LA
84340,Lineas Aereas Galan - Aerogalan,2019-12-30,Colombia,"Vereda Cuzama, Colombia",Palonegro Airport,007615N,0731125W,VMC,3.0,0.0,0.0,0.0,Vereda Cuzama,Colombia
84342,Express Flight,2019-12-31,United States,"Onaga, KS",Charles E Grutzmacher Muni,392953N,0961030W,VMC,0.0,0.0,0.0,4.0,Onaga,KS

In [242]:
#Groupby to find total sums of injuries by state or country
#dropped_df.groupby(by=["State"])["Total_Fatal_Injuries"].sum()
country_fatal = dropped_df.groupby(by=["Country"])["Total_Fatal_Injuries"].sum()
country_uninjured = dropped_df.groupby(by=["Country"])["Total_Uninjured"].sum()
fatal_df = pd.DataFrame(country_fatal)
#fatal_df
uninjured_df = pd.DataFrame(country_uninjured)
#uninjured_df

In [219]:
#merging country dataframes
merged_df = fatal_df.merge(uninjured_df, on='Country', how='right')
merged_df

                     Total_Fatal_Injuries  Total_Uninjured
Country
AY                                    0.0              0.0
Afghanistan                           7.0             84.0
Antarctica                            0.0            181.0
Antigua and Barbuda                   4.0              0.0
Argentina                             2.0              0.0
Bahamas                              26.0             10.0
Belgium                               0.0              2.0
Brazil                               49.0             41.0
Canada                               10.0              6.0
Chile                                 3.0              0.0
Colombia                             29.0             31.0
Dominican Republic                    4.0              0.0
Eswatini                              3.0              3.0
France                                0.0            123.0
Germany                               0.0              2.0
Guyana                                2.0              0.0
Haiti                                 3.0              0.0
Honduras                              3.0              0.0
Hungary                               0.0              3.0
Italy                                 2.0              0.0
Japan                                 0.0              2.0
Kyrgyzstan                            0.0            160.0
Lebanon                              90.0              0.0
Netherlands                           0.0              0.0
Obyan                                 0.0              0.0
Pakistan                              0.0              0.0
Palau                                 0.0              4.0
Papua New Guinea                      4.0              0.0
Peru                                  6.0             11.0
Philippines                          12.0              0.0
Portugal                              6.0              0.0
Qatar                                 1.0              7.0
Russia                                0.0              8.0
Spain                                 3.0              4.0
Sweden                                1.0              1.0
Turks And Caicos                      0.0              0.0
UN                                    0.0            220.0
United Kingdom                        0.0              0.0
United States                      1107.0          33168.0
Venezuela                             2.0             10.0

In [249]:
#State values
state_fatal = dropped_df.groupby(by=["State"])["Total_Fatal_Injuries"].sum()
state_f = pd.DataFrame(state_fatal)
state_uninjured = dropped_df.groupby(by=["State"])["Total_Uninjured"].sum()
state_u = pd.DataFrame(state_uninjured)
merged_state = state_f.merge(state_u, on='State', how='right')
merged_state

            Total_Fatal_Injuries  Total_Uninjured
State
                             4.0            266.0
 AK                         48.0            650.0
 AL                         23.0             75.0
 AO                          0.0              1.0
 AR                         12.0             90.0
...                          ...              ...
 Venezuela                   0.0              3.0
 WA                         13.0            510.0
 WI                         13.0            377.0
 WV                          4.0             79.0
 WY                          2.0            246.0

[98 rows x 2 columns]

In [ ]:
#converting lat and long to decimal values
'''pattern = r'(?P<d>[\d\.]+).*?(?P<m>[\d\.]+).*?(?P<s>[\d\.]+).*?(?P<h>[NSWE])'
hemisphere_sig = {'N': 1, 'S': 1, 'E': 1, 'W': 1}

dms = dropped_df['Latitude'].str.extract(pattern)
dms['h'] = dms['h'].map(hemisphere_sig)
dms = dms.astype(float)

dropped_df['LATITUDE'] = dms['h'] * (dms['d'] + dms['m']/(60) + dms['s']/(3600))

dms = dropped_df['Longitude'].str.extract(pattern)
dms['h'] = dms['h'].map(hemisphere_sig)
dms = dms.astype(float)

dropped_df['LONGITUDE'] = dms['h'] * (dms['d'] + dms['m']/(60) + dms['s']/(3600))
dropped_df

In [251]:
#Exporting cleaned CSV
dropped_df.to_csv("cleaned_project3.csv", encoding = 'utf-8', index = False)
merged_df.to_csv("merged.csv", encoding = 'utf-8')
merged_state.to_csv("merged_state.csv", encoding = 'utf-8')

In [118]:
#Export to json
df = pd.read_csv(r'C:\Users\Junior\Desktop\Project3\cleaned_project3.csv')
df.to_json(r'C:\Users\Junior\Desktop\Project3\aviation.json')