In [1]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd
from datetime import datetime
import turfpy as tp

In [2]:
mongo = MongoClient(port=27017)

In [3]:
!mongoimport --type csv -d CRASHSITE  -c LATLONG --headerline --drop "site.csv"

2023-04-20T17:16:54.738-0500	connected to: mongodb://localhost/
2023-04-20T17:16:54.739-0500	dropping: CRASHSITE.LATLONG
2023-04-20T17:16:54.793-0500	49 document(s) imported successfully. 0 document(s) failed to import.

In [6]:
db = mongo.CRASHSITE# database
site= db.LATLONG # collection

In [7]:

print(db.list_collection_names())

['LATLONG']

In [8]:
db = pd.DataFrame(list(site.find()))

In [9]:
db

,_id,date\tAirline\tflight no\tsite lat\tsite long
0,6441b9d6881c902dc166c4f8,2015-03-24\tGermanwings\t4U9525\t44.28\t6.038889
1,6441b9d6881c902dc166c4f9,2015-02-04\tTransasia\tGE235\t25.063333\t121.6...
2,6441b9d6881c902dc166c4fa,2015-06-30\tSumatra Indonesian Air Force Civil...
3,6441b9d6881c902dc166c4fb,2015-08-16\tTrigana Air Service\tIL267\t-4.824...
4,6441b9d6881c902dc166c4fc,2015-09-05\tSenegalair\tC271\t13.883333\t-12.8
5,6441b9d6881c902dc166c4fd,2015-10-31\tMetrojet\t7K9268\t30.169167\t34.17...
6,6441b9d6881c902dc166c4fe,2016-01-08\tWest Air Sweden\tPT294\t67.716667\...
7,6441b9d6881c902dc166c4ff,2016-02-02\tDaallo Airlines\tD3159\t2.039167\t...
8,6441b9d6881c902dc166c500,2016-02-24\tTara Air\tTB193\t28.54\t83.62
9,6441b9d6881c902dc166c501,2016-03-09\tTrue Aviation Ltd.\tAN21\t21.45194...
10,6441b9d6881c902dc166c502,2016-03-19\tFlydubai\tFZ981\t47.265\t39.828833
11,6441b9d6881c902dc166c503,2016-04-29\tCHC Helikopter Service\tHKS241\t60...
12,6441b9d6881c902dc166c504,2016-05-19\tEgyptair\tMS804\t34.1325\t4.763611
13,6441b9d6881c902dc166c505,2016-08-05\tEmirates\tEK521\t55.379444\t25.2475
14,6441b9d6881c902dc166c506,2016-08-31\tHageland Aviation\tH63190\t61.7855...
15,6441b9d6881c902dc166c507,2016-11-28\tLaMia Bolivia\tLM2933\t5.978611\t-...
16,6441b9d6881c902dc166c508,2016-12-07\tPakistan International Airlines\tP...
17,6441b9d6881c902dc166c509,2016-12-20\tAerosucre Colombia\t6C157\t6.18733...
18,6441b9d6881c902dc166c50a,2017-01-16\tTurkish Airlines\tTK6491\t43.05722...
19,6441b9d6881c902dc166c50b,2017-05-05\tAir Cargo Carriers\t2Q1260\t38.375...
20,6441b9d6881c902dc166c50c,2017-12-31\tNature Air\t5C9916\t9.901425\t85.3...
21,6441b9d6881c902dc166c50d,2017-05-27\tSummit Air\tSMA409\t27.68526\t86.7...
22,6441b9d6881c902dc166c50e,2017-12-13\tWest Wind Aviation\tWEW282\t59.336...
23,6441b9d6881c902dc166c50f,2018-02-11\tSaratov Airlines\t6W703\t55.299722...
24,6441b9d6881c902dc166c510,2018-02-18\tIran Aseman Airlines\tEP3704\t30.9...
25,6441b9d6881c902dc166c511,2018-03-12\tUS-Bangla Airlines\tBS211\t27.6925...
26,6441b9d6881c902dc166c512,2018-04-17\tSouthwest Airlines\tWN1380\t39.952...
27,6441b9d6881c902dc166c513,2018-05-18\tCubana (leased from Global Air)\tC...
28,6441b9d6881c902dc166c514,2018-09-28\tAir Niugini\tPX73\t7.453486\t151.8...
29,6441b9d6881c902dc166c515,2018-10-29\tLion Air\tJT610\t-5.770833\t107.12...
30,6441b9d6881c902dc166c516,2018-11-06\tFly Jamaica Airways\tOJ256\t6.5069...
31,6441b9d6881c902dc166c517,2019-02-23\tAtlas Air serving Amazon\t5Y3591\t...
32,6441b9d6881c902dc166c518,2019-03-10\tEthiopian Airlines\tET302\t8.75\t3...
33,6441b9d6881c902dc166c519,2019-05-05\tAeroflot Russian International Air...
34,6441b9d6881c902dc166c51a,2019-10-04\tUkraine Air Alliance\tUKL4050\t49....
35,6441b9d6881c902dc166c51b,2019-12-27\tBek Air\tZ92100\t43.365278\t77.071389
36,6441b9d6881c902dc166c51c,2020-01-08\tUkraine International Airlines\tPS...
37,6441b9d6881c902dc166c51d,2020-02-05\tPegasus Airlines\tPC2193\t40.898\t...
38,6441b9d6881c902dc166c51e,2020-05-22\tPakistan International Airline\tPK...
39,6441b9d6881c902dc166c51f,2020-08-07\tAir India Exppress\tIX1344\t11.133...
40,6441b9d6881c902dc166c520,2021-01-09\tSriwijaya Air\tSJ182\t-5.963889\t1...
41,6441b9d6881c902dc166c521,2021-07-06\tKamchatka Air Enterprise\tPTK251\t...
42,6441b9d6881c902dc166c522,2021-09-12\tAeroservice/SiLA\tHZ51\t56.25123\t...
43,6441b9d6881c902dc166c523,2022-03-22\tChina Eastern Airlines\tMU5735\t23...
44,6441b9d6881c902dc166c524,2022-05-29\tTara Air\tTB197\t28.712\t83.592
45,6441b9d6881c902dc166c525,2022-07-16\tMeridian\tMRM3032\t40.966667\t24.2
46,6441b9d6881c902dc166c526,2022-11-06\tPrecision Air\tPW494\t-1.335278\t3...
47,6441b9d6881c902dc166c527,2022-11-18\tLATAM Peru\tLP2213\t-12.021944\t77...
48,6441b9d6881c902dc166c528,2023-01-15\tYeti Airlines\tYT691\t28.18969\t84...